@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #71c9ce;
  --secondary-color: #e3fdfd;
  --tertary-color: #a6e3e9;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--secondary-color);
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  font-family: "Montserrat", sans-serif;
}

header {
  text-align: center;
  background-color: var(--primary-color);
}

.div--header {
  padding: 1rem 0;
  font-size: 2.2rem;
}

.div--input {
  display: block;
  margin-top: 3rem;
  font-size: 1.5rem;
}

#input--dob,
#input--number {
  padding-left: 0.5rem;
  margin-top: 1rem;
  /* min-width: 30%; */
  width: min(50%, 25rem);
  height: 3rem;
  border-radius: 5px;
}

.div--contents {
  margin: 2rem auto;
  text-align: center;
}

#btn--check {
  padding: 1em;
  background: var(--primary-color);
  margin: 1rem 0;
  min-width: 20%;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
#btn--check:hover {
  background-color: var(--tertary-color);
  transition: background-color 0.5s;
}

#error--msg {
  display: none;
  font-size: 1rem;
}

/* footer style */
footer {
  margin-top: auto;
  display: block;
  width: 100%;
  background-color: var(--primary-color);
  bottom: 0;
}

.footer--heading {
  padding: 0.5em;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

img {
  height: 1.5rem;
}

.footer--logo {
  margin: 0.7rem 1.5rem;
}